// Container available at '/users/cn/jespinosa/phd_course_22/singularity/quay.io-nextflow-rnaseq-nf-latest.img'
process.container = 'quay.io/nextflow/rnaseq-nf:latest'
singularity.cacheDir = "$projectDir/singularity"
singularity.autoMounts = true

// params {
//     reads = "../data/ggal/gut_{1,2}.fq"
//     transcript = "../data/ggal/transcriptome.fa"
//     multiqc = "../multiqc"
//     outdir = "results"
// }
