// Container available at '/users/cn/jespinosa/phd_course_22/singularity/quay.io-nextflow-rnaseq-nf-latest.img'
process.container = 'quay.io/nextflow/rnaseq-nf:latest'
singularity.cacheDir = "$projectDir/singularity"
singularity.autoMounts = true
singularity.enabled = true

// Now parameters are declared in the configuration
params {
    reads      = "$projectDir/data/ggal/gut_{1,2}.fq"
    transcript = "$projectDir/data/ggal/transcriptome.fa"
    outdir     = "./results"
}
